/* API reference */

.doc-contents details {
    margin-bottom: 24px;
}

/*
   Force theme colors (#00507f and #7fa9c5)
   Targeting Material's specific color scheme attributes to prevent overrides
*/

:root, [data-md-color-scheme="default"], [data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #00507f;
  --md-primary-fg-color--light: #7fa9c5;
  --md-primary-fg-color--dark:  #003a5c;

  --md-accent-fg-color:         #7fa9c5;
  --md-accent-fg-color--transparent: rgba(127, 169, 197, 0.1);
}

/* Header and tabs specific overrides */
.md-header {
  background-color: #00507f !important;
}

.md-tabs {
  background-color: #00507f !important;
}

/* Link and active element colors */
.md-typeset a {
  color: #00507f;
}

.md-nav__link--active {
  color: #00507f !important;
}

/* Search bar focus */
.md-search__input:focus {
  background-color: #fff;
}

/* Hide manual TOC links that appear at the beginning of documents.
   These are often in blockquotes and contain links to anchors on the same page. */
.md-typeset blockquote > p > a[href^="#"] {
  display: none;
}

/* If they are inside a blockquote without a p tag or just as standalone links in a blockquote */
.md-typeset blockquote a[href^="#"] {
  display: none;
}

/* Hide empty blockquotes that remain after hiding TOC links */
.md-typeset blockquote:empty {
  display: none;
}
